//this is a comment
body {
  background-color: rgb(#88BDF2)
    
}
p {
  color: black;
  font-family:serif;
  font-size: 24
}
h1 {
  font-weight: bold;
  color: black;
}
h2 {
  font-weight: 600;
  color: black;
}
h3 {
  font-weight: 600;
  color: black;
}
ol {
  font-weight: bold;
  color: blue;
  font-family: monospace;
}
ul {
  font-weight: bold;
  color: blue;
  font-family: monospace;
}
hr {
  font-weight: bold;
  color: black;
}
img {
  float: right;
}

